<%= simple_form_for @artist do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :biography, :as => :text %>
  <%= f.input :date_of_birth, :as => :date, :start_year => Date.today.year - 90 %>
  <%= f.input :official_website, :as => :url %>
  <%= f.input :music_style %>
  <%= f.association :albums, :as => :check_boxes %>
  <%= f.submit 'Save' %>
<% end %>
