<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @artist.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @artist.last_name %>
</p>

<p>
  <b>Biography:</b>
  <%= @artist.biography %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @artist.date_of_birth %>
</p>

<p>
  <b>Official website:</b>
  <%= @artist.official_website %>
</p>

<p>
  <b>Music style:</b>
  <%= @artist.music_style %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
