<%= form_for(@music) do |f| %>
  <% if @music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
      <% @music.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :length_in_sec %><br />
    <%= f.text_field :length_in_sec %>
  </div>
  <div class="field"> 
    <%= f.label :mp3 %><br /> 
    <%= f.file_field :mp3 %> 
  </div>
  <div class="field">
    <%= f.label :album_id %><br />
	<%= f.select(:album_id, Album.all.map {|a| [a.name,  a.id]}, 	
	 	 	 	 	:include_blank => 'Please select an Album') %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
