<h1>Listing musics</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Length in sec</th>
    <th>Mp3 file name</th>
    <th>Mp3 content type</th>
    <th>Mp3 file size</th>
    <th>Mp3 updated at</th>
    <th>Album</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @musics.each do |music| %>
  <tr>
    <td><%= music.name %></td>
    <td><%= music.length_in_sec %></td>
    <td><%= music.mp3_file_name %></td>
    <td><%= music.mp3_content_type %></td>
    <td><%= music.mp3_file_size %></td>
    <td><%= music.mp3_updated_at %></td>
    <td><%= music.album %></td>
    <td><%= link_to 'Show', music %></td>
    <td><%= link_to 'Edit', edit_music_path(music) %></td>
    <td><%= link_to 'Destroy', music, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Music', new_music_path %>
